@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center align-items-center">
    <form asp-controller="Menu" asp-action="show" method="post">
        <input type="hidden" name="id" value="@Guid.Empty" />
        <button type="submit" class="btn btn-primary pe-5 ps-5 mt-5">Show</button>
    </form>
</div>